.calcButtons {
  display: flex;
  flex-direction: row;
}

.calcButtons button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 2px 2px 0 0;
  color: #484451;
  background-color: var(--input-color);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.calcButtons button:hover {
  background-color: #999999;
}

.active {
  background-color: var(--button-color) !important;
  color: var(--dark-text-color) !important;
  font-weight: bold;
}

@media (max-width: 980px) {
  .calcButtons button:hover {
    background-color: #c6e5ed;
  }

  .calcButtons button {
    width: 150px;
    gap: 3px;
    padding: 0 5px;
  }
}

@media screen and (max-width: 600px) {
  .calcButtons {
    margin-left: 5px;
  }
}
