* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

:root {
  --main-bg-color: ;
  --main-text-color: rgb(96, 96, 96);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(237, 237, 237);
  background: radial-gradient(
    circle,
    rgb(245, 245, 245) 0%,
    rgb(221, 221, 221) 100%
  );
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}

/* page 404 styles */
.page404 {
  display: flex;
  position: relative;
  height: 100vh;
  color: var(--main-text-color);
}

.page404__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page404 h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

.page404 h1 > span {
  border-right: 1px solid rgb(96, 96, 96);
  margin: 0 15px;
}
/*  */

@media screen and (max-width: 750px) {
  .wrapper {
    height: 100%;
  }
}
