.footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  background-color: var(--bg-color);
  color: var(--basic-text-color);
}

@media screen and (max-width: 600px) {
  .footer p {
    width: 90%;
  }
}
